---
import MenuCard from "./MenuCard.astro";
import { menuItems } from "../../data/menu";
const { title } = Astro.props;
---

<section class="menu-grid">
      {
        menuItems.map((category) => (
          <div class="menu-category">
            <h2 class="menu-category-title">{category.category}</h2>
            <div class="menu-items">
              {category.items.map((item) => (
                <MenuCard item={item} />
              ))}
            </div>
          </div>
        ))
      }
</section>

<style>
  .menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding:40px;
  }

  @media screen and (max-width: 768px) {
    .menu-items {
      grid-template-columns: 1fr;
    }
  }

  .menu-grid h2 {
    font-size: 1.5rem;
  }
  .menu-category-title {
    color: #B1C3B9;
    padding-left: 40px;
    font-size: 1.8rem;
    text-align: center;
  }
  .menu-category-title:nth-child(1) {
    padding-top: 80px;
  }
</style>
