---
const { title, subtitle, image } = Astro.props;
import { Image } from "astro:assets";
---

<section class="hero">
  <Image
    src={image}
    alt=""
    class="hero__bg"
    loading="eager"
    decoding="async"
    priority
  />
  <div class="hero__overlay"></div>
  <div class="hero__content">
    {subtitle && <h2 class="hero__subtitle">{subtitle}</h2>}
    <h1 class="hero__title">{title}</h1>
  </div>
</section>

<style>
  .hero {
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  .hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .hero__content {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__title {
    font-size: 110px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding: 0 4rem;
  }
  @media screen and (max-width: 768px) {
    .hero__title {
      font-size: 35px;
      padding: 0 1rem;
    }
  }
</style>
