---
const { title, text } = Astro.props;
import homeintro from "../assets/images/left-image-home.webp"; 
import { Image } from "astro:assets"; 
---

<section>
  <div class="home-intro-container">
    <div class="home-intro-image">
      <Image src={homeintro} width={600} height={450} alt={title} />
    </div>
    <div class="home-intro-text">
      <h2>{title}</h2>
      <p>{text}</p>
    </div>
  </div>
</section>

<style>
  .home-intro-container {
    display: flex;
  }
  .home-intro-image, .home-intro-text {
    flex: 1;
  }
  .home-intro-text h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
  }
  .home-intro-text p {
    line-height: 1.6;
    color: #ddd;
  }
  @media (max-width: 768px) {
    .home-intro-container {
      flex-direction: column;
    }
  }
  .home-intro-text {
    padding: 5rem 3rem 0rem 3rem;
  }
</style>