---
import { Image } from 'astro:assets';
---

<div class="logo">
  <a href="/">
    <Image src={import('/src/assets/images/pizzafactory_logo.png')} alt="Pizza Factory logo" />
  </a>
</div>

<style>
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: 636px) {
    .logo img {
      width: 100px;
      height: 100px;
    }
    
  }
</style>
