---
---

<div class="logo">
  <a href="/">
    <img src="/pizzafactory_logo.png" alt="Pizza Factory logo" />
  </a>
</div>

<style>
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 100px;
    height: 100px;
  }
</style>
